<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
       	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	   	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 当前应用信息配置 -->
    <dubbo:application name="vme-consumer"/>

    <!-- 注册中心信息配置 -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <dubbo:reference id="authService" interface="org.awesky.provider.services.auth.AuthService" />
</beans>